* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #222;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #a10000;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(#00000080, #00000080), url('https://images.unsplash.com/photo-1519681393784-d120267933ba?auto=format&fit=crop&w=1500&q=60');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero .btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #a10000;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.hero .btn:hover {
    background: #a10000;
}

/* Sections */
.section {
    padding: 60px 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 280px;
    padding: 20px;
    background: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 0 10px #0002;
}

.contacto form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 10px;
}

.contacto input,
.contacto textarea {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.contacto button {
    padding: 10px;
    background: #a10000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto button:hover {
    background: #a10000;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}
